<app-header></app-header>

<div class="page-background">
  <div class="card max-w-7xl mx-auto">
    <h1 class="text-4xl font-extrabold mb-8 text-center">
      Your Transactions
    </h1>

    <div *ngIf="transactions$ | async as transactions">
      <div *ngIf="transactions.length > 0" class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="py-3 px-6">ISIN</th>
            <th scope="col" class="py-3 px-6">Type</th>
            <th scope="col" class="py-3 px-6">Quantity</th>
            <th scope="col" class="py-3 px-6">Consideration</th>
            <th scope="col" class="py-3 px-6">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of transactions" class="bg-white border-b hover:bg-gray-50">

            <td class="py-4 px-6 font-medium whitespace-nowrap">
              <a [routerLink]="['/transactions/edit', transaction.id]"
                 class="text-indigo-600 hover:text-indigo-900 hover:underline">
                {{ transaction.isin }}
              </a>
            </td>

            <td class="py-4 px-6">{{ transaction.transactionType }}</td>
            <td class="py-4 px-6">{{ transaction.quantity }}</td>
            <td class="py-4 px-6">{{ transaction.consideration | currency:'GBP':'symbol':'1.2-2' }}</td>
            <td class="py-4 px-6">{{ formatDate(transaction.transactionDate) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
